footer{
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
